@import url("https://use.typekit.net/mtr8aqx.css");

p,
ul,
h1,
h2,
h3,
h4 {
  font-family: bebas-neue, sans-serif;
  font-weight: 100;
  font-style: normal;
}

body,
html {
  height: 98.8%;
  margin: 0;
  overflow: hidden;
}

.enter {
  cursor: pointer;
  text-align: center;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5%;
  text-decoration: none;
}

.hover-enter:hover {
  opacity: 0.3;
}

.hover-enter a {
  text-decoration: none;
}

#img {
  padding-top: 15%;
  padding-bottom: 5%;
  display: block;
  width: 40%;
  margin: auto;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
}

a:hover,
a:link,
a:active {
  text-decoration: none;
  color: black
}


.arrow img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  margin-top: -1%;
}

.works {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin-top: 5%;
  margin-right: 5%;
}

.about {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  bottom: 0;
  left: 0;
  margin-bottom: 5%;
  margin-left: 5%;
}

.contact {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  margin-bottom: 5%;
  margin-right: 5%;
}

.logo {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-left: 5%;
  line-height: 90%;
}

h4 {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  text-decoration: none;
}

.logo {
  font-size: 4rem;
}

a {
  text-decoration: underline;
}

/* .conttext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0px;
  text-align: center;
  padding-top: 0px;
} */

.aboutcontent img {
  width: 80px;
  float: left;
  margin-right: 15px;
}

.aboutcontent {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  max-width: 500px;
  height: 100px;
  padding-left: 60px;
  padding-right: 60px;
}

.aboutcontent h2,
.aboutcontent p {
  padding: 20px;
  overflow: hidden;
  font-size: 1.5rem;
}

/*--------------------------------------------------------------*/

#carousel {
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: property;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.designs {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-left: 25px;
  padding-right: 25px;
}

.image .desc {
  opacity: 0;
  margin: 0;
  padding: 20px;
  margin-top: -60px;

}

.main .image img {
  bottom: -1px;
  width: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  -webkit-box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.15);

  -webkit-transition: opacity .2s;

  transition: opacity .2s;
}

.designs .image {
  height: 36%;
}

.designs h4 {
  display: block;
}

/* .designs:hover .desc {
  opacity: 1;
  -webkit-transition: opacity .2s;
  z-index: 1;
} */

.designs:hover .text {
  color: orangered;
}

/* .designs:hover img {
  opacity: 0.2;
  -webkit-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
} */



::-webkit-scrollbar {
  opacity: 0;
}

/*------------------------------------------------------------------------*/
.info {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 300px;
  max-width: 500px;
  height: 250px;

  text-align: center;
}

.info a {
  color: black;
  font-size: 2.5rem;
}

.info a:hover {
  color: orangered;
}

/*------------------------------------------*/
@media only screen and (min-height: 300px) {
  .main .image img {
    width: 100px;
    margin-bottom: 0%;
  }

  #carousel {
    padding-top: 100px;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media only screen and (min-height: 400px) {
  .main .image img {
    width: 175px;
    margin-bottom: 150%;
  }

  #carousel {
    padding-top: 100px;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media only screen and (min-height: 500px) {
  .main .image img {
    width: 200px;
    margin-bottom: 175%;
  }

  #carousel {
    padding-top: 125px;
  }

  .logo {
    font-size: 1.5rem;
  }
}

@media only screen and (min-height: 600px) {
  .main .image img {
    width: 175px;
    margin-bottom: 180%;
  }

  #carousel {
    padding-top: 200px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 650px) {
  .main .image img {
    width: 200px;
    margin-bottom: 180%;
  }

  #carousel {
    padding-top: 225px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 680px) {
  .main .image img {
    width: 200px;
    margin-bottom: 180%;
  }

  #carousel {
    padding-top: 250px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 750px) {
  .main .image img {
    width: 250px;
    margin-bottom: 180%;
  }

  #carousel {
    padding-top: 250px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 840px) {
  .main .image img {
    width: 250px;
    margin-bottom: 180%;
  }

  #carousel {
    padding-top: 325px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 950px) {
  .main .image img {
    width: 300px;
    margin-bottom: 225%;
  }

  #carousel {
    padding-top: 375px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 1100px) {
  .main .image img {
    width: 350px;
    margin-bottom: 225%;
  }

  #carousel {
    padding-top: 375px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 1250px) {
  .main .image img {
    width: 400px;
    margin-bottom: 225%;
  }

  #carousel {
    padding-top: 375px;
  }

  .logo {
    font-size: 4rem;
  }
}

@media only screen and (min-height: 1350px) {
  .main .image img {
    width: 450px;
    margin-bottom: 225%;
  }

  #carousel {
    padding-top: 425px;
  }

  .logo {
    font-size: 4rem;
  }
}